:root {
  /* ## Colors */

  /* ### Primary */

  --lightRed: hsl(356, 100%, 66%);
  --veryLightRed: hsl(355, 100%, 74%);
  --VeryDarkBlue: hsl(208, 49%, 24%);

  /* ### Neutral */

  --White: hsl(0, 0%, 100%);
  --grayishBlue: hsl(240, 2%, 79%);
  --veryDarkGrayishBlue: hsl(207, 13%, 34%);
  --veryDarkBlackBlue: hsl(240, 10%, 16%);

  /* Background gradient - body: */

  // --veryDarkGrayBlue: hsl(237, 17%, 21%);
  // --veryDarkDesaturatedBlue: hsl(237, 23%, 32%);
}
