:root {
  /* ## Colors */
  /* ### Primary */
  --lightRed: hsl(356, 100%, 66%);
  --veryLightRed: hsl(355, 100%, 74%);
  --VeryDarkBlue: hsl(208, 49%, 24%);
  /* ### Neutral */
  --White: hsl(0, 0%, 100%);
  --grayishBlue: hsl(240, 2%, 79%);
  --veryDarkGrayishBlue: hsl(207, 13%, 34%);
  --veryDarkBlackBlue: hsl(240, 10%, 16%);
  /* Background gradient - body: */
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Overpass', sans-serif;
  font-size: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body h1 h2 {
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-weight: normal;
  color: var(--veryDarkBlackBlue);
}

body .test {
  background-color: black;
  height: 100px;
}

/*------------ Visibility Configuration Section--------------------*/
@media only screen and (max-width: 1199.9px) {
  .hide-for-mobile {
    display: none;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .hide-for-desktop {
    display: none;
  }
}

.header__bg {
  position: absolute;
  border-radius: 0 0 0 7rem;
  background-image: url(../images/bg-pattern-intro.svg);
  background-position: 35% 31%;
  background-size: 365%;
  background-repeat: no-repeat;
  height: inherit;
  height: 37.5rem;
  width: 100%;
}

.header__bg::after {
  z-index: -2;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-size: 100%;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(150deg, #ff8f70, #ff3d54);
  border-radius: 0 0 0 7rem;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 1199.9px) {
  .header__bg {
    background-position: 28% 43%;
    background-size: 270%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media all and (min-width: 1200px) {
  .header__bg {
    background-position: 21% 53%;
    background-size: 210%;
  }
}

header {
  position: relative;
  width: auto;
  height: 37.5rem;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 4rem 10.5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 767.9px) {
  .header__nav {
    margin: auto;
    padding: 4rem 2.5rem;
    height: auto;
  }
  .header__logo {
    width: 5.25rem;
    height: 2.125rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1199.9px) {
  .header__nav {
    padding: 4rem 6.75rem;
  }
  .header__logo {
    width: 5.25rem;
    height: 2.125rem;
  }
}

@media only screen and (min-width: 1200px) {
  .header__logo {
    width: 6.5625rem;
    height: 2.6875rem;
  }
  .header__nav-l {
    position: absolute;
    padding-left: 11.875rem;
    text-align: left;
  }
  .header__nav-r {
    padding-right: 0;
    margin-right: 0;
    text-align: right;
  }
  .header__links {
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: center;
    text-decoration: none;
    color: var(--White);
  }
  #product-link {
    padding-right: 0.3rem;
  }
  #company-link {
    padding-right: 0.3rem;
    padding-left: 1.875rem;
  }
  #connect-link {
    padding-right: 0.3rem;
    padding-left: 1.875rem;
  }
  .product-menu {
    position: absolute;
    display: none;
    width: 10.625rem;
    z-index: 2;
    top: 3rem;
    background: var(--White);
    border-radius: 0.2rem;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 300ms;
            transition-duration: 300ms;
    left: 10.4rem;
  }
  .product-menu ul {
    display: block;
    line-height: 2rem;
    list-style-type: none;
    text-align: left;
    padding-left: 1.8rem;
    color: var(--veryDarkDesaturatedBlue) !important;
  }
  .product-menu li:hover {
    font-weight: bold;
  }
  .product-menu a {
    text-decoration: none;
    color: var(--veryDarkDesaturatedBlue);
  }
  .company-menu {
    position: absolute;
    display: none;
    width: 10.625rem;
    z-index: 2;
    top: 3rem;
    background: var(--White);
    border-radius: 0.2rem;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 300ms;
            transition-duration: 300ms;
    left: 16.7rem;
  }
  .company-menu ul {
    display: block;
    line-height: 2rem;
    list-style-type: none;
    text-align: left;
    padding-left: 1.8rem;
    color: var(--veryDarkDesaturatedBlue) !important;
  }
  .company-menu li:hover {
    font-weight: bold;
  }
  .company-menu a {
    text-decoration: none;
    color: var(--veryDarkDesaturatedBlue);
  }
  .connect-menu {
    position: absolute;
    display: none;
    width: 10.625rem;
    z-index: 2;
    top: 3rem;
    background: var(--White);
    border-radius: 0.2rem;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 300ms;
            transition-duration: 300ms;
    left: 23.8rem;
  }
  .connect-menu ul {
    display: block;
    line-height: 2rem;
    list-style-type: none;
    text-align: left;
    padding-left: 1.8rem;
    color: var(--veryDarkDesaturatedBlue) !important;
  }
  .connect-menu li:hover {
    font-weight: bold;
  }
  .connect-menu a {
    text-decoration: none;
    color: var(--veryDarkDesaturatedBlue);
  }
  .show {
    display: block;
  }
  .rotate {
    position: relative;
    rotate: 180deg;
    text-decoration: none;
    margin: 0;
  }
  .underline {
    text-decoration: underline;
    font-weight: bold;
  }
  #header-login {
    padding-right: 3rem;
    text-decoration: none;
    color: var(--White);
  }
  #header-login:hover {
    font-weight: bold;
  }
  #header-signup {
    padding: 0.7rem 1.625rem;
    border-radius: 2rem;
    text-align: center;
    text-decoration: none;
    line-height: 1rem;
    font-size: 1rem;
    font-weight: bold;
    color: var(--lightRed);
    background: var(--White);
  }
  #header-signup:hover {
    color: var(--White);
    background: var(--veryLightRed);
    -webkit-transition: 300ms;
    transition: 300ms;
  }
}

.hero {
  position: relative;
  padding: 0 2.5rem;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* Medium devices (landscape tablets, 768px and up) */
  /* Extra large devices (large laptops and desktops, 1200px and up) */
}

.hero__intro {
  margin: 0 auto;
  padding-top: 2.75rem;
  text-align: center;
  font-size: 2.1rem;
  font-weight: 700;
  color: var(--White);
}

.hero__text {
  margin: 0 auto;
  width: 92.5%;
  color: var(--White);
  text-align: center;
  font-size: 1.1rem;
  padding-top: 1.3rem;
  padding-bottom: 3.25rem;
}

.hero__cta-1 {
  margin-left: auto;
  margin-right: 0.5rem;
  padding: 0.875rem 1.35rem;
  border-radius: 2.5rem;
  font-size: 1rem;
  line-height: normal;
  text-decoration: none;
  text-align: center;
  font-weight: bolder;
  color: var(--lightRed);
  background: var(--White);
  border: 1px solid var(--White);
}

.hero__cta-1:hover {
  background: var(--veryLightRed);
  color: var(--White);
  -webkit-transition: 300ms;
  transition: 300ms;
}

.hero__cta-2 {
  margin-left: 0.5rem;
  margin-right: auto;
  padding: 0.875rem 1.35rem;
  border-radius: 2.5rem;
  font-size: 1rem;
  line-height: normal;
  text-decoration: none;
  text-align: center;
  font-weight: bolder;
  color: var(--White);
  border: 1px solid var(--White);
}

.hero__cta-2:hover {
  color: #ff3d54;
  background: var(--White);
  -webkit-transition: 300ms;
  transition: 300ms;
}

@media only screen and (min-width: 529px) and (max-width: 767.9px) {
  .hero {
    margin: auto;
    width: 85%;
  }
  .hero .hero__intro {
    font-size: 2.875rem;
  }
  .hero .hero__text {
    font-size: 1.15rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1199.9px) {
  .hero {
    margin: auto;
    width: 70%;
  }
  .hero .hero__intro {
    font-size: 3.125rem;
  }
  .hero .hero__text {
    font-size: 1.25rem;
  }
}

@media only screen and (min-width: 1200px) {
  .hero .hero__intro {
    font-size: 3.875rem;
  }
  .hero .hero__text {
    font-size: 1.5rem;
  }
}

/*---- Mobile style for feature section ----- */
.feature {
  margin: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.feature__intro {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  margin: 0;
  color: var(--veryDarkBlackBlue);
  line-height: 1.2rem;
  text-align: center;
  font-size: 1.75rem;
  color: #1f3f5b;
  padding-top: 6rem;
  padding-bottom: 3rem;
}

.feature__image {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  padding-top: 2rem;
  background-image: url(/images/illustration-editor-mobile.svg);
  background-repeat: no-repeat;
  background-position: center center;
  height: 20.625rem;
  width: 340px;
}

.feature__section {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 1.5rem;
  margin-bottom: 280px;
}

.feature__title {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 95%;
  line-height: 1.8125rem;
  text-align: center;
  font-size: 1.75rem;
  color: #25252d;
  padding: 0 1.5rem;
  padding-top: 4rem;
  padding-bottom: 1.875rem;
}

.feature__text {
  margin: auto;
  padding: 0 1.5rem;
  width: 80%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 1rem;
  line-height: 1.6rem;
  color: #4b5862;
}

/* --------- Desktop style ----------- */
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 1199.9px) {
  .feature__intro {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
    margin: 0;
    color: var(--veryDarkBlackBlue);
    line-height: 2.2rem;
    text-align: center;
    font-size: 2.3rem;
    color: #1f3f5b;
    padding-top: 6rem;
    padding-bottom: 3rem;
  }
  .feature__image {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    padding-top: 2rem;
    background-image: url(/images/illustration-editor-desktop.svg);
    background-size: 35%;
    background-repeat: no-repeat;
    background-position: center center;
    height: 25.625rem;
    width: 340px;
  }
  .feature__section {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 1.5rem;
    margin-bottom: 280px;
  }
  .feature__title {
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 95%;
    line-height: 1.8125rem;
    text-align: center;
    font-size: 1.875rem;
    color: #25252d;
    padding: 0 1.5rem;
    padding-top: 4rem;
    padding-bottom: 1.875rem;
  }
  .feature__text {
    margin: auto;
    padding: 0 1.5rem;
    width: 80%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    font-size: 1rem;
    line-height: 1.6rem;
    color: #4b5862;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .feature {
    margin-bottom: 265px;
    height: auto;
  }
  .feature__image {
    position: absolute;
    top: 0;
    right: 0;
    background-image: url(/images/illustration-editor-desktop.svg);
    background-position: -25% 40px;
    background-size: 135%;
    height: 62.25rem;
    width: 50%;
  }
  .feature__intro {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: #1f3f5b;
    width: 100%;
    text-align: center;
    font-size: 2.625rem;
    padding-top: 10rem;
  }
  .feature__section {
    position: relative;
    display: -ms-grid;
    display: grid;
    grid-auto-flow: row;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    padding: 0 1.5rem;
  }
  .feature__title {
    text-align: left;
    font-size: 1.875rem;
    line-height: 1.8125rem;
    color: #1f3f5b;
    padding-left: 9rem;
  }
  .feature__text {
    width: 540px;
    height: 130px;
    text-align: left;
    padding-left: 9rem;
    padding-bottom: 4rem;
    font-size: 1.1rem;
    color: #4b5862;
    line-height: 2rem;
  }
}
